
.entry {
  padding-bottom: 15px;
}

.lemmadef{
  font-size: 12pt;
  text-indent: -30px;
  margin-left: 30px;
  padding-bottom: 3px;
}

.lemma{
  font-size: 12pt;
  font-weight: bold;
  font-style: italic;
  padding-right: 5px;
}

.etym {
  font-size: 12pt;
  font-style: italic;
}
.pos {
  font-size: 12pt;
}

.lemmaLinks, .attestedforms {
  margin-left: 30px;
}
.seeLink, .cfLink {
  margin-left: 10px;
  font-weight: bold;
  font-style: italic;
}
.lemmaLinksHeader {
  color: green;
}
span.etym:before{
  content: ", ";
}
span.gloss:before{
  content: ", \"";
}
span.gloss:after{
  content: ".\"";
}
.inflectdescript{
  padding-right: 5px;
}
.attestedformloc{
  padding-right: 5px;
}
.attestedform {
  padding-right: 5px;
  font-size: 12pt;
  font-style: italic;
}
