version: '3'

services: 
  db:
    build: ./pg
    restart: always
    environment: 
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: gandhari
      PGDATA: /var/lib/postgresql/data
    volumes:
      - sharebin:/usr/lib/postgresql/10/bin #make postgres tools available to other services
      - db-data:/var/lib/postgresql/data #create named volume and add to volumes to persist container data
      - ../../../readfilestore:/var/readfilestore # using relative path to bind host dir to /var/readfilestore
    ports:
      - "5432:5432"
  pgadmin:
    image: dpage/pgadmin4:4.18
    restart: always
    environment: 
      PGADMIN_DEFAULT_EMAIL: xx@xx.uu.com
      PGADMIN_DEFAULT_PASSWORD: gandhari
      PGADMIN_LISTEN_PORT: 80
    ports:
      - "81:80" # "host_port:container_port". pgadmin can be found from host browser as localhost:81
    volumes: 
      - pgadmin-data:/var/lib/pgadmin  #create named volume and add to volumes to persist container data
    links: 
      - "db:pgsql-server"
    depends_on: 
      - db
  read:
    build: ./php-apache
    ports:
      - "80:80" # map container port 80 to host port 80. This will allow the use of localhost directly
#    environment: 
#      - SHARE_PATH:/usr/lib/postgresql/bin
    volumes: 
      - sharebin:/usr/lib/postgresql/bin # share postgres tools with php server to help maintain databases
      - ../..:/var/www/html/ # path_to_workspaceroot:absolute path in apache container for document root
      - ../../../readfilestore:/var/www/readfilestore # path_to_database_sql's:absolute path to apache container of readfilestore
    depends_on: 
      - db

volumes: #these volumes will be saved in docker storage until deleted
  sharebin:
  db-data:
  pgadmin-data: