.headline {
  display: flex;
  align-items: center; /* align vertical */
  background-color:  rgb(214,214,204);
  font-size: x-large;
  font-weight: bold;
  height: 40px;
  border: 1px solid white;
}

.viewerHeaderLabel {
  display: inline-flex;
  justify-content: left; /* align horizontal */
  align-items: center; /* align vertical */
  font-size: 18pt;
  font-weight: bold;
  background-color: inherit;
  height: 40px;
  padding-left: 25px;
}

.viewerHeader, #imageViewerHdr {
  background-color: rgb(240,240,230);
  height: 40px;
  width: 100%;
  border: none;
  padding: 0px;
}

.viewerContent {
  border: 1px solid white;
  overflow: hidden;
  overflow-y: auto;
  min-height:150px;
  font-size: large;
  resize: vertical;
  padding-left: 20px;
}
.viewer {
  border: 1px solid white;
  overflow: hidden;
}
#contentDockFrame {
  border: 1px solid white;
  overflow-x: hidden;
  overflow-y: auto;
}
.linelabel{
  color: rgb(160,160,160);
  padding-right: 5px;
}

.grpTok .linelabel{
  padding-right: 0px;
}
.secHeader.Paragraph, .secHeader.Pāda{
  color: rgb(100,210,210);
}
.secHeader{
margin-bottom: 1px;
margin-top: 15px;
color: rgb(30,140,170);
font-weight: bold;
}
.section{
margin-bottom: 10px;
line-height: 1.3;
}
.secTitle{
margin-bottom: 10px;
color: rgb(30,140,170);
font-weight: bold;
}
.grpTok:after{
  content: " ";
}
.grpTok{
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.footnote {
  color:darkcyan;
  background: lightgrey;
  cursor: pointer;
}
.popupwrapperdiv{
  max-width: 450px;
  text-align: left;
}
sup.showing {
  background: lightgreen !important;
}
.grpTok.showing {
  color: rgb(50,200,50) !important;
}
.prose {
  padding-bottom: 10px;
  overflow-wrap: break-word;
  padding-right: 10px;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.lemmaentry .lemmaheadword{
  padding-right: 5px;
  font-weight: bold;
  font-style: italic;
}
.lemmaentry .lemmapos{
  padding-right: 5px;
}
.lemmaentry .lemmacomment{
  padding-right: 5px;
}
.lemmaentry .etymology{
  padding-right: 5px;
}
.etymology .etymvalue{
  font-style: italic;
  padding-left: 5px;
}
.lemmaentry .gloss{
  padding-right: 5px;
  word-wrap: break-word;
}
.lemmaentry .selectedinflection{
  padding-right: 5px;
}
.attestedforms{
  margin-top: 8px;
  padding-top: 8px;
  border-top: solid 1px grey;
}
.inflectdescript {
  padding-right: 5px;
}
.attestedformloc {
  padding-left: 5px;
}
.attestedforms .inflectdescript{
  color: rgb(80,80,80);
  font-weight: bold;
}
.attestedforms .attestedform{
  font-style: italic;
}
.linkScroll{
  cursor: pointer;
  border: none;
  background-color: inherit;
  color: rgba(155,155,155,0.5);
}
.syncScroll .linkScroll{
  color: rgba(155,155,155,1);
}
body.showTOC .tocNavPanel {
  display: block;
}
.tocNavPanel{
  position: absolute;
  top: 45px;
  left: 9px;
  display: none;
  width: auto;
  background-color: rgb(214,214,204);
  max-height: 90%;
  overflow-y: auto;
  padding: 8px;
  padding-left: 15px;
  padding-right: 25px;
}
.tocEntry{
  cursor: pointer;
}
.tocEntry:hover{
  background-color: grey;
}
.tocNavButton{
  margin-left: 15px;
  background-color: transparent;
  color: grey;
  cursor: pointer;
}

.partBoundary{
  background-color: transparent;
  color: rgb(148,138,84);
  font-size: smaller;
  margin-top: 20px;
  margin-bottom: 20px;
}

.boundaryNote{
  margin-left: 5px;
}

.titleDiv{
  text-align: center;
  width: 100%;
}

.secHeader.FreeText {
  color: rgb(148,138,84);
  font-weight: unset;
  font-size: smaller;
}

#chayaViewerContent {
  background-color: rgba(214,214,204,0.4);
}

#multiEditionHeaderMenu {
  display: inline;
  padding-left: 40px;
}

.lineHeader {
  font-weight: bold;
  padding-right: 15px;
}

.textEdnButton {
  margin-left: 20px;
  background-color: rgba(204,204,194,0.5);
  font-weight: bold;
}

.textEdnButton.selected {
  background-color: rgba(204,204,194,0.9);
  border: solid 1px grey;
  color: rgb(4,4,164) !important;
}

.textEdnButton.published{
  color: rgb(4,4,24);
}

.textEdnButton.research{
  color:grey;
}

.secHeader.Sentence {
  display: inline;
}

.section.Sentence {
  display: inline;
  padding-right: 5px;
}

.section.Stanza {
  margin-bottom: 0px;
}

.section.Item {
  margin-bottom: 0px;
}

.section.Pāda {
  margin-bottom: 0px;
}

.zoomButton {
  width: 50%;
  height: auto;
  font-size: 20pt;
  font-weight: bold;
  display: inline-flex;

}

.zoomUI {
  height: 100%;
  float: right;
  display: inline;
  margin-right: 25px;
  min-width: 70px;
  cursor: pointer;
}

.imgmenuresource:hover {
  background-color: darkgrey;
}
.imgmenuresource {
  cursor: pointer;
  align-items: center;
  vertical-align: middle;
  height: 25px;
}

.resImageIconBtn {
  max-height: 20px;
  max-width: 50px;
  vertical-align: text-bottom;
  padding: 4px;
}

.filename {
  display: inline-flex;
  padding-left: 20px;
}

.menuPanel.showMenu {
  display: block;
}

.menuPanel {
  display: none;
  position: absolute;
  background-color: rgb(214,214,204);
  max-width: 200px;
}

.menuLabelDiv.showMenu {
  display: inline-flex;
}

.menuLabelDiv {
  display: none;
  justify-content: left;
  vertical-align: middle;
  font-size: 14pt;
  padding-left: 25px;
}
