.headline {
  display: flex;
  align-items: center; /* align vertical */
  background-color:  rgb(214,214,204);
  font-size: x-large;
  font-weight: bold;
  height: 40px;
  border: 1px solid white;
}

.expStaticButton, .btnExportDlg {
    text-decoration: none;
    font-size: 10pt;
    padding: 4px;
    padding-top: 4px;
    background-color: rgb(240,240,230);
    border: 1px solid gray;
    width: 110px;
    cursor: pointer;
    text-align: center;
    padding-top: 6px;
    margin-right: 7px;
    color: rgba(0, 0, 0, 0.80);
    font-family: serif;
}

.settingButton {
    font-size: 19pt;
    border: none;
    background-color: transparent;
    width: 45px;
    padding-bottom: 4px;
    padding-right: 10px;
    color: rgba(0, 0, 0, 0.60);
}
.viewerHeaderLabel {
  display: inline-flex;
  justify-content: left; /* align horizontal */
  align-items: center; /* align vertical */
  font-size: 16pt;
  font-weight: bold;
  font-family: serif;
  background-color: inherit;
  height: 40px;
  padding-left: 15px;
}

.viewerHeader, #imageViewerHdr {
  background-color: rgb(240,240,230);
  height: 40px;
  width: 100%;
  border: none;
  padding: 0px;
  font-family: serif;
}

.viewerContent {
  border: 1px solid white;
  overflow: hidden;
  overflow-y: auto;
  min-height:150px;
  font-size: large;
  resize: vertical;
  padding-left: 20px;
  font-family: serif;
}
.jqx-widget {
  font-family: serif;
}
.viewer {
  border: 1px solid white;
  overflow: hidden;
}
#resultsDialog, #resultsDialogContent {
  min-height: 300px;
  overflow: unset!important;
}
#settingsDialogContent{
  background-color: rgb(250,250,250);
  font-family: serif;

}
.dlgInputBox{
  vertical-align: top;
  height: 30px;
}
.dlgResourceBox{
  vertical-align: top;
  height: auto;
  width: 100%;
  margin-bottom: 5px;
}
.dlgOptionsGroupLabel,
.dlgViewOptionsGroupLabel,
.dlgOutputGroupLabel{
  vertical-align: top;
  float: left;
  width: 4.7em;
  margin-right: 0.1em;
  text-align: right;
}
#resourceOptions, #viewOptions, #outputOptions{
    margin-bottom: 2px;
    display: inline-block;
}
.dlgCheckBox{
    margin-bottom: 2px;
}
.dlgInput{
  margin-bottom: 2px;
  width: 250px;
  border: 1px solid #aaa;
}
.dlgInputLabel{
  width: 30px;
  margin-bottom: 2px;
  vertical-align: top;
  float: left;
  width: 4.9em;
  margin-right: 0.1em;
  text-align: right;
}
#contentDockFrame {
  border: 1px solid white;
  overflow-x: hidden;
  overflow-y: auto;
}
.linelabel{
  color: rgb(160,160,160);
  padding-right: 5px;
}

.grpTok .linelabel{
  padding-right: 0px;
}
.secHeader.Paragraph{
  color: rgb(100,210,210);
}
.secMarker.Pāda{
  color: rgb(100,210,210);
  display: inline-flex;
  margin-left: 5px;
  margin-right: 5px;
}
.prose.Pāda{
  display: inline-flex;
  padding-bottom: 0px;
}
.source {
  margin-top: 20px;
  font-style: italic;
}
.secHeader{
margin-bottom: 1px;
margin-top: 15px;
color: rgb(30,140,170);
font-weight: bold;
}
.section{
margin-bottom: 10px;
line-height: 1.3;
}
.secTitle{
margin-bottom: 10px;
color: rgb(30,140,170);
font-weight: bold;
}
.grpTok:after{
  content: " ";
  padding-right: 5px;
}
.grpTok{
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.footnote,.reconstruction {
  color:darkcyan;
  background: lightgrey;
  cursor: pointer;
}
.popupwrapperdiv{
  max-width: 450px;
  text-align: left;
  display: table;
  font-size: 16px;
  font-family: serif;
}
sup.showing {
  background: lightgreen !important;
}
.grpTok.showing {
  color: rgb(50,200,50) !important;
}
.prose {
  padding-bottom: 10px;
  overflow-wrap: break-word;
  padding-right: 10px;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.lemmaentry .lemmaheadword{
  padding-right: 5px;
  font-weight: bold;
  font-style: italic;
}

.lemmaheadword a,.lemmaheadword a:visited{
  font-weight: bold;
  font-style: italic;
  color: black;
  text-decoration: none;
}

.lemmaentry .lemmapos{
  padding-right: 5px;
}
.lemmaentry .lemmacomment{
  padding-right: 5px;
}
.lemmaentry .etymology{
  padding-right: 5px;
}
.etymology .etymvalue{
  font-style: italic;
  padding-left: 5px;
}
.lemmaentry .gloss{
  padding-right: 5px;
  word-wrap: break-word;
}
.lemmaentry .selectedinflection{
  padding-right: 5px;
}
.attestedforms{
  margin-top: 8px;
  padding-top: 8px;
  border-top: solid 1px grey;
  overflow-y: auto;
  max-height: 350px;
}
.inflectdescript {
  padding-right: 5px;
}
.attestedformloc {
  padding-left: 5px;
}
.attestedforms .inflectdescript{
  color: rgb(80,80,80);
  font-weight: bold;
}
.attestedforms .attestedform{
  font-style: italic;
}
.lemmaSeeLinks, .lemmaCfLinks{
  margin-top: 8px;
  text-indent: -10px;
  margin-left: 10px;
}
.seeLink, .cfLink{
  font-weight: bold;
  font-style: italic;
  color: rgb(80,80,80);
}
.linkScroll{
  cursor: pointer;
  border: none;
  background-color: inherit;
  color: rgba(155,155,155,0.5);
}
.syncScroll .linkScroll{
  color: rgba(155,155,155,1);
}
body.showTOC .tocNavPanel {
  display: block;
}
.tocNavPanel{
  position: absolute;
  top: 45px;
  left: 9px;
  display: none;
  width: auto;
  background-color: rgb(214,214,204);
  max-height: 90%;
  overflow-y: auto;
  padding: 8px;
  padding-left: 15px;
  padding-right: 25px;
}
.tocEntry{
  cursor: pointer;
}
.tocEntry:hover{
  background-color: grey;
}
.tocNavButton{
  margin-left: 15px;
  background-color: transparent;
  color: grey;
  cursor: pointer;
}

.blnBoundary {
  font-weight: bold;
  font-size: larger;
  margin-left: -5px;
  margin-top: 10px;
}
.partBoundary{
  background-color: transparent;
  color: rgb(148,138,84);
  font-size: smaller;
  margin-top: 20px;
  margin-bottom: 20px;
}

.boundaryNote{
  margin-left: 5px;
}

.titleDiv{
  text-align: center;
  width: 100%;
}

.secHeader.FreeText {
  color: rgb(148,138,84);
  font-weight: unset;
  font-size: smaller;
}

#chayaViewerContent {
  background-color: rgba(214,214,204,0.4);
}

#multiEditionHeaderMenu {
  display: inline;
  padding-left: 40px;
}

.lineHeader {
  font-weight: bold;
  padding-right: 10px;
  display: table-cell;
  min-width: 20px;
  text-align: right;
}

.physicalLineWrapperDiv {
  display: table-cell;
}

.textEdnButton {
  margin-left: 20px;
  background-color: rgba(204,204,194,0.5);
  font-weight: bold;
}

.textEdnButton.selected {
  background-color: rgba(204,204,194,0.9);
  border: solid 1px grey;
  color: rgb(4,4,164) !important;
}

.textEdnButton.published{
  color: rgb(4,4,24);
}

.textEdnButton.research{
  color:grey;
}

.secHeader.Sentence {
  display: inline;
}

.section.Sentence {
  display: inline;
  padding-right: 5px;
}

.section.Stanza {
  margin-bottom: 0px;
}

.section.Item {
  margin-bottom: 0px;
}

.section.Pāda {
  margin-bottom: 0px;
}

.zoomButton {
  width: 50%;
  height: auto;
  font-size: 20pt;
  font-weight: bold;
  display: inline-flex;

}

.zoomUI {
/*  height: 100%;
  float: right;*/
  display: inline;
  margin-right: 25px;
  min-width: 70px;
  cursor: pointer;
}

.imgmenuresource:hover {
  background-color: darkgrey;
}
.imgmenuresource a:hover {
  background-color: lightgrey;
}
.imgmenuresource a{
  color: blue;
  padding-left: 5px;
  padding-top: 9px;
  float: right;
}
.imgmenuresource {
  cursor: pointer;
  align-items: center;
  vertical-align: middle;
  height: 25px;
  padding-bottom: 4px;
  padding-right: 3px;
}

.resImageIconBtn {
  max-height: 20px;
  max-width: 50px;
  vertical-align: text-bottom;
  padding: 4px;
}

.downloadbtndiv {
  height: 20px;
  width: 20px;
  background-image: URL('../images/download.png');
  background-size: 15px 15px;
  background-repeat: no-repeat;
}

.downloadframe {
  display:none;
}

.filename {
  display: inline-flex;
  padding-left: 20px;
}

.menuPanel.showMenu {
  display: block;
}

.menuPanel {
  display: none;
  position: absolute;
  background-color: rgb(214,214,204);
  max-width: 200px;
}

.menuLabelDiv.showMenu {
  display: inline-flex;
}

.menuLabelDiv {
  display: none;
  justify-content: left;
  vertical-align: middle;
  font-size: 14pt;
  padding-left: 25px;
}
.glossExtraInfoDiv{
  display: none;
}
.glossExtraInfoDiv.expanded{
  display: table-row;
}
.epidocDownloadLink{
  display: none;
  vertical-align: sub;
  text-decoration: none;
  font-size: 16pt;
  font-weight: bold;
  padding-left: 9px;
  color: rgb(60,60,60);
}
.epidocDownloadLink.public{
  display: inline-block;
}
.epidownloadbtndiv {
  height: 10px;
  width: 15px;
  background-image: URL('../images/download.png');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  display: inline-block;
  padding-bottom: 3px;
}

.glossHeaderInfoDiv, .glossExpanderDiv{
  display: table-cell;
}
.glossaryExpander{
  font-weight: bolder;
  font-size: larger;
  cursor: pointer;
}