.headline {
  display: flex;
  align-items: center; /* align vertical */
  background-color:  rgb(214,214,204);
  font-size: x-large;
  font-weight: bold;
  height: 40px;
  border: 1px solid white;
}

.viewerHeaderLabel {
  display: flex;
  justify-content: left; /* align horizontal */
  align-items: center; /* align vertical */
  font-size: 18pt;
  font-weight: bold;
  background-color: inherit;
  height: 35px;
  padding-left: 25px;
}

.viewerHeader {
  background-color: rgb(240,240,230);
  height: 35px;
  border: none;
}

.viewerContent {
  border: 1px solid white;
  overflow: hidden;
  overflow-y: auto;
  min-height:150px;
  font-size: large;
  resize: vertical;
  padding-left: 20px;
}
.viewer {
  border: 1px solid white;
  overflow: hidden;
}
#contentDockFrame {
  border: 1px solid white;
  overflow-x: hidden;
  overflow-y: auto;
}
.linelabel{
  color: rgb(160,160,160);
  padding-right: 5px;
}

.grpTok .linelabel{
  padding-right: 0px;
}
.secHeader.Paragraph{
  color: rgb(100,210,210);
}
.secHeader{
margin-bottom: 1px;
margin-top: 15px;
color: rgb(30,140,170);
font-weight: bold;
}
.section{
margin-bottom: 10px;
line-height: 1.3;
}
.secTitle{
margin-bottom: 10px;
color: rgb(30,140,170);
font-weight: bold;
}
.grpTok:after{
  content: " ";
}
.grpTok{
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.footnote {
  color:darkcyan;
  background: lightgrey;
}
.popupwrapperdiv{
  max-width: 450px;
  text-align: left;
}
sup.showing {
  background: lightgreen !important;
}
.grpTok.showing {
  color: rgb(50,200,50) !important;
}
.prose {
  padding-bottom: 10px;
  overflow-wrap: break-word;
  padding-right: 10px;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.lemmaentry .lemmaheadword{
  padding-right: 5px;
  font-weight: bold;
  font-style: italic;
}
.lemmaentry .lemmapos{
  padding-right: 5px;
}
.lemmaentry .lemmacomment{
  padding-right: 5px;
}
.lemmaentry .etymology{
  padding-right: 5px;
}
.etymology .etymvalue{
  font-style: italic;
  padding-left: 5px;
}
.lemmaentry .gloss{
  padding-right: 5px;
  word-wrap: break-word;
}
.lemmaentry .selectedinflection{
  padding-right: 5px;
}
.attestedforms{
  margin-top: 8px;
  padding-top: 8px;
  border-top: solid 1px grey;
}
.inflectdescript {
  padding-right: 5px;
}
.attestedformloc {
  padding-left: 5px;
}
.attestedforms .inflectdescript{
  color: rgb(80,80,80);
  font-weight: bold;
}
.attestedforms .attestedform{
  font-style: italic;
}
.linkScroll{
  cursor: pointer;
  border: none;
  background-color: inherit;
  color: rgba(155,155,155,0.5);
}
.syncScroll .linkScroll{
  color: rgba(155,155,155,1);
}
body.showTOC .tocNavPanel {
  display: block;
}
.tocNavPanel{
  position: absolute;
  top: 35px;
  left: 15px;
  display: none;
  width: auto;
  background-color: #a5a5a5;
  max-height: 90%;
  overflow-y: auto;
  padding: 8px;
  padding-right: 25px;
}
.tocEntry{
  cursor: pointer;
}
.tocEntry:hover{
  background-color: lightgrey;
}
.tocNavButton{
  margin-left: 15px;
  background-color: transparent;
  color: grey;
  cursor: pointer;
}
.titleDiv{
  text-align: center;
  width: 100%;
}