<!--
/**
* This file is part of the Research Environment for Ancient Documents (READ). For information on the authors
* and copyright holders of READ, please refer to the file AUTHORS in this distribution or
* at <https://github.com/readsoftware>.
*
* READ is free software: you can redistribute it and/or modify it under the terms of the
* GNU General Public License as published by the Free Software Foundation, either version 3 of the License,
* or (at your option) any later version.
*
* READ is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;
* without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
* See the GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License along with READ.
* If not, see <http://www.gnu.org/licenses/>.
*/
/**
* @author      Stephen White  <stephenawhite57@gmail.com>
* @copyright   @see AUTHORS in repository root <https://github.com/readsoftware/read>
* @link        https://github.com/readsoftware
* @version     1.0
* @license     @see COPYING in repository root or <http://www.gnu.org/licenses/>
* @package     READ Research Environment for Ancient Documents
*/
-->
#textEditPage .word.selected::selection{ background: lightgrey; color:black}
#textEditPage .word.selected::-moz-selection{ background: lightgrey; color:black}

#textEditPage .linkedword.selected::selection{ background: lightgrey; color:black}
#textEditPage .linkedword.selected::-moz-selection{ background: lightgrey; color:black}

#textEditPage .lemma.selected::selection{ background: lightgrey; color:blue}
#textEditPage .lemma.selected::-moz-selection{ background: lightgrey; color:blue}

.wordlistentry {
  margin-left: 50px;
  padding-left: 1em;
  text-indent: -1em;
}
.uncertainheader {
  color: brown!important;
}
.wordlistentry span.lemma {
  color: #2F5597!important;
  font-weight: bold;
}
.wordlistentry span.lemma.readonly {
  color: black!important;
  font-weight: bold;
}
.wordlistentry.sfiltered,
.wordlistentry.wsfiltered,
.wordlistentry span.sfiltered,
.wordlistentry span.wsfiltered,
.wordlistentry span.efiltered {
  display:none!important;
}
.wordlistentry span.lemma.selected {
  background: lightgrey !important;
  color: blue;
}
.wordlistentry span.lemma.readonly.selected {
  background: lightgrey !important;
  color: black;
}
.wordlistentry span.morphology, .wordlistentry span.POS {
  font-style: italic;
}

.wordlistContentDiv{
  overflow:auto;
  font-family: "Segoe UI", "Noto Sans", "DejaVu Sans", sans-serif, "Gandhari Unicode"!important;
}

.edndraghandle:hover {
  cursor: grab!important;
}

.edndraghandle {
  height: 20px;
  width: 15px;
  background-color: #648cc8;
}
